pkgbase = simcamera
	pkgdesc = Simple desktop camera app built with Tkinter and OpenCV
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/inxeoz/simcamera
	arch = any
	license = MIT
	depends = python
	depends = python-opencv
	depends = python-pillow
	depends = python-numpy
	depends = tk
	depends = ffmpeg
	depends = libnotify
	optdepends = python-sounddevice: microphone recording support
	optdepends = python-scipy: save recorded audio before ffmpeg muxing
	source = camera.py
	source = simcamera
	source = simcamera.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = simcamera
